.aboutUs aside {
    display: inline-block;
    width: 36%;
    margin: auto 6%;
    text-align: center;

    img {
        border-radius: 10px;
    }
}
.headshot {
    width: 100%;
}

.aboutUs  {
    h3, h4 {
        font-family: 'Abel', sans-serif;
    }

    p {
        font-family: 'Roboto', sans-serif;
        margin: 10% auto;
    }
}
