.aboutUs article {
    display: inline-block;
    width: 40%;
}
.headshot {
    width: 100%;
}

.aboutUs  {
    h3, h4 {
        font-family: 'Abel', sans-serif;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }
}
