.aboutUs aside {
    display: inline-block;
    width: 40%;
    margin: auto 5%;
    text-align: center;

    img {
        border-radius: 10px;
    }
}
.headshot {
    width: 98%;
}

.aboutUs  {
    h3, h4 {
        font-family: 'Abel', sans-serif;
    }

    p {
        font-family: 'Roboto', sans-serif;
    }
}
