.bikeStatsTable, .bike-stats form {
    font-family: 'Lato', sans-serif;
    text-align: center;

    th {
        text-align: center;
    }
}

//Display on mobile phones or smaller only
@media screen and (max-width: 480px) {

    .deleteButton {
        width: 100%;
    }

    .bikeStatsTable table {
        margin-right: 20%;
    }
}

//Display on all screens that are not mobile
@media screen and (min-width: 481px) {

    .deleteButton {
        width: 60%;
        margin: 0 20%;
    }

}
