.viewTitle {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}

input, select {
    background-color: $inputBackgroundColor;
    border: none;
    @include inputBorder();
    font-style: italic;
    color: $themeColorShadow;
    display: block;
}


[placeholder] {
    color: $themeColorShadow;
}
::-webkit-input-placeholder {
   color: $themeColorShadow;
}
:-moz-placeholder {
   color: $themeColorShadow;
}
::-moz-placeholder {
   color: $themeColorShadow;
}
:-ms-input-placeholder {
   color: $themeColorShadow;
}

.sendButton:hover, .deleteButton:hover {
    box-shadow: inset 0px 0px 3px $themeColorMainGreen;
    font-style: normal;
}

[type='radio'] {
    box-shadow: none;
    display: inline-block;
}

.errorMsgs {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    color: $errorFont;
}

//Display on all mobile only screens
@media screen and (max-width: 480px) {

    .view {
        @include viewMargin(10%, 20%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 10%);
    }

    .sendButton {
        width: 50%;
        margin: 5% 25%;
        @include submitButton();
    }

    input, select {
        font-size: 1em;
        width: 100%;
        margin-bottom: 5%;
    }

}

//Display on all screens that are not mobile
@media screen and (min-width: 481px) {

    .view {
        @include viewMargin(5%, 15%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 5%);
    }

    .sendButton {
        width: 20%;
        margin: 5% 40%;
        @include submitButton();
    }

    input, select {
        font-size: 1.25em;
        width: 50%;
        margin: 0 25% 5%;
    }

}

// @media screen and (min-width: 481px) and (max-width: 800px) {
//
// }
//
// @media screen and (min-width: 801px) {
//
// }
