.viewTitle {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}


input, select {
    background-color: $inputBackgroundColor;
    border: none;
    @include inputBorder();
    font-style: italic;
    font-size: 1em;
    color: $themeColorShadow;
    display: block;
    width: 100%;
    margin-bottom: 5%;
}


[placeholder] {
    color: $themeColorShadow;
}
::-webkit-input-placeholder {
   color: $themeColorShadow;
}
:-moz-placeholder {
   color: $themeColorShadow;
}
::-moz-placeholder {
   color: $themeColorShadow;
}
:-ms-input-placeholder {
   color: $themeColorShadow;
}

.sendButton {
    font-family: 'Abel', sans-serif;
    background-color: $themeColorDarkGreen;
    border-radius: $submitButtonRadius;
    color: $themeColorMainGreen;
    font-style: normal;
    @include submitButton();
    width: 50%;
    margin: 5% 25%;
}
.sendButton:hover {
    box-shadow: inset 0px 0px 3px $themeColorMainGreen;
    font-style: normal;
}


@media screen and (max-width: 480px) {

    .view {
        @include viewMargin(10%, 20%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 10%);
    }

}

//Display on all screens that are not mobile
@media screen and (min-width: 481px) {

    .view {
        @include viewMargin(5%, 10%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 5%);
    }

    .sendButton {
        width: 20%;
        margin: 5% 40%;
    }
}

// @media screen and (min-width: 481px) and (max-width: 800px) {
//
// }
//
// @media screen and (min-width: 801px) {
//
// }
