[ng-cloak], .ng-cloak {
    display: none;
}

body {
  background: url(/images/trees.background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.token, .login, .notFound, .serverIssue, .bikeForm, .partsForm, .bike-stats, .aboutUs, .home {
    background-color: rgba(#ffffff, 0.75);
    border: 2px solid $themeColorDarkGreen;
    box-shadow: 0px 0px 2px $themeColorShadow;
    border-radius: 5px;
    padding: 5% 1em;
}

.viewTitle {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    @include headerShadow();
}

.sendButton:hover, .deleteButton:hover {
    box-shadow: inset 0px 0px 3px $themeColorMainGreen;
}

.errorMsgs {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: $errorFont;
}

//Display on all mobile only screens
@media screen and (max-width: 480px) {

    .view {
        @include viewMargin(10%, 10%, 25%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 10%);
    }

}
@media screen and (max-width: 640px) {
    .sendButton {
        width: 50%;
        margin: 0 25% 5%;
        @include submitButton();
    }
}

//Display on all screens that are not mobile
@media screen and (min-width: 481px) {

    .view {
        @include viewMargin(5%, 5%, 15%);
    }

    .viewTitle {
        @include viewTitleMargin(5%, 5%);
    }
    .sendButton {
        width: 20%;
        margin: 0 40% 5%;
        @include submitButton();
    }
    .view {

        .login, .home, .bikeForm, .partsForm, .notFound, .serverIssue, .bike-stats {
            margin: auto 15%;
            padding: 0 3.5em 5%;
        }
    }

}
