@mixin viewMargin($side, $marginBottom) {
    margin: 0 $side $marginBottom;
}

@mixin headerShadow($x:1px, $y:1px, $blur:3px) {
    text-shadow: $x $y $blur $themeColorTeal;
}

@mixin viewTitleMargin($top:0, $bottom:0) {
    margin: $top 0 $bottom;
}
