.navMenu {
    background-color: $themeColorMainGreen;

    a {
        color: $themeColorDarkGreen;
        font-family: 'Abel', sans-serif;
        font-weight: 500;
        font-size: $textSizeAllScreens;
    }

}

.nav {
    border-bottom: 1px solid $themeColorDarkGreen;
}
.nav>li>a:hover {
    background-color: $themeColorDarkGreen;
    color: $themeColorMainGreen;
    border: 1px solid $themeColorMainGreen
}
