.navMenu {
    background-color: $themeColorMainGreen;

    a {
        color: $themeColorDarkGreen;
        font-family: 'Abel', sans-serif;
        font-weight: bold;
        font-size: $textSizeAllScreens;
    }
    .nav>li>a:hover {
        background-color: $themeColorDarkGreen;
        color: $themeColorMainGreen;
    }
}

.nav-tabs {
    border-bottom-color: $themeColorDarkGreen;
    display: inline-block;
    float: none;
}

.nav .nav-collapse {
    text-align: center;
}
