.notFound p, .home p, .serverIssue p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: $textSizeAllScreens;
}

.home {
    padding: auto 3em auto;
}

@media screen and (max-width: 480px) {

    .notFound p, .home p, .serverIssue p {
        font-size: $textSizeMobile;
    }

}
