$themeColorDarkGreen: #00421d;
$themeColorMainGreen: #9bc351;
$themeColorBlue: #242bb0;
$themeColorTeal: #44acb3;
$themeColorShadow: #67735e;
$inputBackgroundColor: #f3f5f2;

$themeColorLightGreen: #009a44;
$themeColorYellow: #ffdf37;


$submitButtonRadius: 10px;
$submitButtonSize: 50%;
