$themeColorDarkGreen: #00421d;
$themeColorMainGreen: #9bc351;
$themeColorBlue: #242bb0;
$themeColorTeal: #44acb3;
$themeColorShadow: #67735e;

$themeColorLightGreen: #009a44;
$themeColorYellow: #ffdf37;
