<section class='bike-stats'>

    <h2>Current Bike and Parts Info</h2>

    <table>
        <tr>
            <th>Parts</th>
            <th>Distance Traveled</th>
            <th>Travel Limit</th>
            <th>Time Traveled</th>
            <th>Travel Limit</th>
        </tr>
        <tr>
            <td>Gear</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Pedals</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Tires</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Chain</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Inner-Tubes</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Brakes</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
        <tr>
            <td>Frame</td>
            <td>{{}} km</td>
            <td># km</td>
            <td>{{}} days</td>
            <td># days</td>
        </tr>
    </table>

</section>
