<section class='bike-stats'>

    <h2 class='viewTitle'>Current Bike and Parts Info</h2>

    <section class='errorMsgs'>
        <p>{{bsCtrl.message}}</p>
        <p ng-show='bikeSelect.select_Bike.$touched && bikeSelect.select_Bike.$error.required'>
            Must select a bike to view it's parts.</p>
    </section>

    <form
        name='bikeSelect'
        ng-show='bsCtrl.allBikes'
        ng-submit='bsCtrl.getParts(bsCtrl.bikeId)'
        novalidate>
        <label for='select_bike'>Select a Bike to View it's Parts</label>
        <select id='select_bike' name='select_bike' ng-model='bsCtrl.bikeId' required>
            <option value='' selected>Bike Name</option>
            <option
                ng-repeat='bike in bsCtrl.allBikes'
                value='{{bike.id}}'>{{bike.name}}
            </option>
        </select>
        <input class='sendButton' type='submit' value='See Parts'>
    </form>

    <section class='bikeStatsTable' ng-show='bsCtrl.allParts.length > 0'>
        <h3>Part(s) for Selected Bike</h3>
        <table class='table'>
            <tr>
                <th>Part</th>
                <th>Part Type</th>
                <th>Distance Traveled (km)</th>
                <th>Lifetime Limit (km)</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat='part in bsCtrl.allParts'>
                <td>{{part.part_type}}</td>
                <td>{{part.description}}</td>
                <td>{{part.distance_in_km}} km</td>
                <td>{{part.expected_lifetime_in_km}} km</td>
                <td><button class='deleteButton' ng-click='bsCtrl.deletePart(part.id)'>Delete Part</button></td>
            </tr>
        </table>
    </section>

</section>
