<section class='aboutUs'>

    <h2 class='viewTitle'>About Us</h2>

    <article>
        <aside class='sams'>
            <div>
                <a href='https://github.com/csaminak'>
                    <img class='headshot' src='/images/sc.headshot.jpg' alt='Samina Pic'>
                </a>
            </div>
            <caption>
                <h3>Samina Chhatwal</h3>
                <h4>Front-End Engineering at The Iron Yard</h4>
            </caption>
        </aside>
        <aside class='alex'>
            <div>
                <a href='https://github.com/Atshelton'>
                    <img class='headshot' src='/images/as.headshot.jpg' alt='Alex Pic'>
                </a>
            </div>
            <caption>
                <h3>Alex Shelton</h3>
                <h4>Back-End Engineering at The Iron Yard</h4>
            </caption>
        </aside>
    </article>
    <section>
        <p>
            Our idea was to create a program that notifies a cyclist when it is time
            to tune up their bike was born out of problem. Previously, there wasn't
            a simple way to know when it was time to change a bike part. The only
            solution was to remember when the part was last changed and
            how many miles you had put on it. Together, we were able to come up with
            a plan to create a site that could resolve this issue by working on
            different aspects of the program.
        </p>
    </section>

</section>
