<section class='aboutUs'>

    <h2 class='viewTitle'>About Us</h2>

    <article class='sams'>
        <div>
            <a href='https://github.com/csaminak'>
                <img class='headshot' src='/images/sc.headshot.jpg' alt='Samina Pic'>
            </a>
        </div>
        <caption>
            <h3>Samina Chhatwal</h3>
            <h4>Front-End Engineering at The Iron Yard</h4>
            <p></p>
        </caption>
    </article>

    <article class='alex'>
        <div>
            <a href='https://github.com/Atshelton'>
                <img class='headshot' src='/images/as.headshot.jpg' alt='Alex Pic'>
            </a>
        </div>
        <caption>
            <h3>Alex Shelton</h3>
            <h4>Back-End Engineering at The Iron Yard</h4>
            <p></p>
        </caption>
    </article>

</section>
