<section class='contact_us'>

    <h2 class='viewTitle'>Contact Us</h2>

    <form>
        <div>
            <label for='sender_name'>Name</label>
            <input id='sender_name' type='text' placeholder='Jane Doe'>
        </div>
        <div>
            <label for='msg_subject'>Subject</label>
            <input id='msg_subject' type='text' placeholder='Topic of message'>
        </div>
        <div>
            <label for='sender_email'>Email</label>
            <input id='sender_email' type='email' placeholder='janedoe@email.com'>
        </div>
        <div>
            <label for='msg_description'>Description</label>
            <textarea id='msg_description' type='text'></textarea>
        </div>
        <input type='submit' value='send'>
    </form>


</section>
