<section class='contact-us'>

    <h2>Contact Us</h2>

    <form>
        <div>
            <label for='sender-name'>Name</label>
            <input id='sender-name' type='text' placeholder='Jane Doe'>
        </div>
        <div>
            <label for='msg-subject'>Subject</label>
            <input id='msg-subject' type='text' placeholder='Topic of message'>
        </div>
        <div>
            <label for='sender-email'>Email</label>
            <input id='sender-email' type='email' placeholder='janedoe@email.com'>
        </div>
        <div>
            <label for='msg-description'>Description</label>
            <textarea id='msg-description' type='text'></textarea>
        </div>
        <input type='submit' value='send'>
    </form>


</section>
