<section class='bike_form'>

    <h2>Tell Me About Your Bike</h2>

    <form>
        <fieldset>
            <legend>Bike Info</legend>
            <div>
                <label for='bike_brand'>Brand</label>
                <input
                    id='bike_brand'
                    name='bike_brand'
                    placeholder='Brand Name of Bike'
                    type='text'>
            </div>
            <div>
                <label>Bike Type</label>
                <div>
                    <input
                        id='mountain_bike'
                        name='bike_type'
                        value='mountain_bike'
                        type='radio'>
                    <label for='mountain'>Mountain Bike</label>
                    <input
                        id='cross_bike'
                        name='bike_type'
                        value='cross_bike'
                        type='radio'>
                    <label for='cross'>Cross Bike</label>
                    <input
                        id='road_bike'
                        name='bike_type'
                        value='road_bike'
                        type='radio'>
                    <label for='mountain'>Road Bike</label>
                </div>
            </div>
            <div>
                <label for='bike_serial'>Bike Serial Number</label>
                <input
                    id='bike_serial'
                    name='bike_serial'
                    placeholder='Bike Serial Number'
                    type='text'>
            </div>
            <div>
                <label for='purchase_date'>Purchase Date</label>
                <input
                    id='purchase_date'
                    name='purchase_date'
                    placeholder='09/13/2016'
                    type='date'>
            </div>
            <div>
                <label for='bike_name'>Bike Name</label>
                <input
                    id='bike_name'
                    name='bike_name'
                    placeholder='What is your bike name?'
                    type='text'>
            </div>
        </fieldset>

        <input type='submit' value='Add Bike'>
    </form>

</section>
