<section class='bike-form'>

    <h2>Tell Me About Your Bike</h2>

    <form>
        <h3>Bike Info</h3>
        <div>
            <label>Brand</label>
            <input>
        </div>
        <div>
            <label>Make</label>
            <!--Mountain, Cross, Road-->
        </div>
        <div>
            <label>Date Bought</label>
            <input type='date'>
        </div>
    </form>

    <form>
        <h3>Parts Info</h3>
        <div>
            <label>Brakes</label>
            <input>
        </div>
        <div>
            <label>Derailer</label>
            <input>
        </div>
        <div>
            <label>Pedals</label>
            <!--Radio: Clip, Slip-Into, Open-Top-->
        </div>
        <div>
            <label>Inner Tubes</label>
            <input>
        </div>
        <div>
            <label>Tires</label>
            <input>
        </div>
    </form>

</section>
