<section class='partsForm'>

    <h2 class='viewTitle'>Let's Attach Some Parts to Your Bike!</h2>

    <section class='errorMsgs'>
        <p>{{partsFormCtrl.errorMsg}}</p>
        <p ng-show='addParts.selectBike.$touched && addParts.selectBike.$error.required'>
            Must select a bike to add parts.</p>
        <p ng-show='addParts.partType.$touched && addParts.partType.$error.required'>
            Must select a type of part to add.</p>
        <p ng-show='addParts.mountedOn.$touched && addParts.mountedOn.$error.required'>
            Need to know when the part was mounted to know when to change it.</p>
    </section>


    <form
        name='addParts'
        ng-show='partsFormCtrl.allBikes'
        ng-submit='partsFormCtrl.sendPart(partsFormCtrl.part)'
        novalidate>

        <div>
            <label class='formLabel' for='selectBike'>Select Bike</label>
            <select id='selectBike' name='selectBike' ng-model='partsFormCtrl.part.bike_id' required>
                <option value='' selected>Bike Name</option>
                <option
                    ng-repeat='bike in partsFormCtrl.allBikes'
                    value='{{bike.id}}'>{{bike.name}}
                </option>
            </select>
        </div>

        <div>
            <label class='formLabel' for='partType'>What type of part would you like to add?</label>
            <select
                id='partType' name='partType' ng-model='partsFormCtrl.part.part_type' required>
                <option value='' selected>Part Type</option>
                <option value='Brake'>Brakes</option>
                <option value='Derailer'>Derailer</option>
                <option value='Pedal'>Pedals</option>
                <option value='Innertube'>Inner-Tube</option>
                <option value='Tire'>Tires</option>
            </select>
        </div>

        <div class='partType' ng-show='partsFormCtrl.part.part_type === "Brake"'>
            <label class='part'>Brake Type:</label>
            <div class='choices'>
                <input
                    class='choiceLabel'
                    id='brake_pads'
                    name='brakes'
                    value='Brake Pads'
                    type='radio'
                    ng-model='partsFormCtrl.part.description'>
                <label for='brake_pads'>Brake Pads</label>
                <input
                    class='choiceLabel'
                    id='disc_brakes'
                    name='brakes'
                    value='Disc Brakes'
                    type='radio'
                    ng-model='partsFormCtrl.part.description'>
                <label for='disc_brakes'>Disc Brake</label>
            </div>
        </div>

        <div class='partType' ng-show='partsFormCtrl.part.part_type === "Derailer"'>
            <label class='part' for='derailer'>Derailer:</label>
            <input
                id='derailer'
                name='derailer_brand'
                placeholder='Brand Name'
                type='text'
                ng-model='partsFormCtrl.part.description'>
        </div>

        <div class='partType' ng-show='partsFormCtrl.part.part_type === "Pedal"'>
            <label class='part'>Pedal Type:</label>
            <div class='choices'>
                <input
                    class='choiceLabel'
                    id='clip_pedals'
                    name='pedal'
                    value='Clip'
                    type='radio'
                    ng-model='partsFormCtrl.part.description'>
                <label for='clip_pedals'>Clip</label>
                <input
                    class='choiceLabel'
                    id='slide_pedals'
                    name='pedal'
                    value='Slide-Into'
                    type='radio'
                    ng-model='partsFormCtrl.part.description'>
                <label for='slide_pedals'>Slide Into</label>
                <input
                    class='choiceLabel'
                    id='open_pedals'
                    name='pedal'
                    value='Open'
                    type='radio'
                    ng-model='partsFormCtrl.part.description'>
                <label for='open_pedals'>Open Top</label>
            </div>
        </div>

        <div class='partType' ng-show='partsFormCtrl.part.part_type === "Innertube"'>
            <label class='part' for='inner_tubes'>Inner Tube:</label>
            <select id='inner_tubes' name='tube' ng-model='partsFormCtrl.part.description'>
                <option value='' selected>Diameter x Width (inches)</option>
                <option value='20" x 1 3/4"'>20" x 1 3/4"</option>
                <option value='20" x 1 1/8"'>20" x 1 1/8"</option>
                <option value='20" x 1 1/4"'>20" x 1 1/4"</option>
                <option value='20" x 1 3/8"'>20" x 1 3/8"</option>
                <option value='24" x 1 3/8"'>24" x 1 3/8"</option>
                <option value='24" x 1 1/4"'>24" x 1 1/4"</option>
                <option value='24" x 1 1/8"'>24" x 1 1/8"</option>
                <option value='24" x 1"'>24" x 1"</option>
                <option value='26" x 1"'>26" x 1"</option>
                <option value='26" x 1 1/8"'>26" x 1 1/8"</option>
                <option value='26" x 1 3/4"'>26" x 1 3/4"</option>
                <option value='26" x 1 1/2"'>26" x 1 1/2"</option>
                <option value='26" x 1 3/8"'>26" x 1 3/8"</option>
                <option value='26" x 1 1/4"'>26" x 1 1/4"</option>
                <option value='28" x 1 1/2"'>28" x 1 1/2"</option>
                <option value='29"'>29"</option>
            </select>
        </div>

        <div class='partType' ng-show='partsFormCtrl.part.part_type === "Tire"'>
            <label class='part' for='tires'>Tires:</label>
            <select id='tires' name='tires' ng-model='partsFormCtrl.part.description'>
                <option value='' selected>Diameter x Width (inches)</option>
                <option value='20" x 1 3/4"'>20" x 1 3/4"</option>
                <option value='20" x 1 1/8"'>20" x 1 1/8"</option>
                <option value='20" x 1 1/4"'>20" x 1 1/4"</option>
                <option value='20" x 1 3/8"'>20" x 1 3/8"</option>
                <option value='24" x 1 3/8"'>24" x 1 3/8"</option>
                <option value='24" x 1 1/4"'>24" x 1 1/4"</option>
                <option value='24" x 1 1/8"'>24" x 1 1/8"</option>
                <option value='24" x 1"'>24" x 1"</option>
                <option value='26" x 1"'>26" x 1"</option>
                <option value='26" x 1 1/8"'>26" x 1 1/8"</option>
                <option value='26" x 1 3/4"'>26" x 1 3/4"</option>
                <option value='26" x 1 1/2"'>26" x 1 1/2"</option>
                <option value='26" x 1 3/8"'>26" x 1 3/8"</option>
                <option value='26" x 1 1/4"'>26" x 1 1/4"</option>
                <option value='28" x 1 1/2"'>28" x 1 1/2"</option>
                <option value='29"'>29"</option>
            </select>
        </div>

        <div>
            <label class='formLabel' for='part_mounted_date'>Mounted On Date</label>
            <input
                id='part_mounted_date'
                name='mountedOn'
                type='date'
                ng-model='partsFormCtrl.part.mounted_on'
                required>
        </div>

        <div>
            <label class='formLabel' for='part_purchased_date'>Purchase Date</label>
            <input
                id='part_purchased_date'
                name='purchased_on'
                placeholder='09/13/2016'
                type='date'
                ng-model='partsFormCtrl.part.purchased_on'>
        </div>

        <input class='sendButton' type='submit' value='Add Part'>
    </form>

</section>
