<section class='create-account'>

    <h2>Let's Get You Started</h2>

    <form>
        <div>
            <label for='user-firstname'>First Name</label>
            <input
                id='user-firstname'
                name='user-firstname'
                type='text'>
            <label for='user-lastname'>Last Name</label>
            <input
                id='user-lastname'
                name='user-lastname'
                type='text'>
        </div>
        <div>
            <label for='user-email'>Email</label>
            <input
                id='user-email'
                name='user-email'
                type='email'>
        </div>
        <div>
            <label for='create-password'>Create Password</label>
            <input
                id='create-password'
                name='create-password'
                type='password'>
        </div>
    </form>

</section>
